<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ImgurAPI</key>
    <dict>
          <key>ClientID</key>
                <string>s6d7s6d7f6s5</string>
                      <key>ClientSecret</key>
                            <string>8s8du9s8ds96d76s9d87f98sd5765sdf</string>
                              </dict>
                              </dict>
                              </plist>
